section.banner {
  top: 0;
  height: 100vh;
  display: flex;
  position: fixed;
  width: 100vw;

  justify-content: center;

  text-align: center;
  background-color: rgb(28 25 23 / 1);

  @apply text-stone-200
  items-start md:items-center;
}

.inner {
  opacity: 1;
  @apply mt-8 md:mt-0
  mb-0 md:mb-4;
}

h2 {
  @apply text-2xl font-semibold tracking-widest;
}

p {
  @apply tracking-widest;
}

.line {
  display: block;
  height: 2px;
  background-color: wheat;
  margin-bottom: 8px;
  margin-top: 12px;
}
