.wrapper {
  @apply columns-3;
  //   grid-flow-row sm:grid-cols-1 md:grid-cols-3;
}

app-card {
  //   @apply ;
}

h1 {
  @apply font-semibold;
}

span {
  @apply text-gray-600 text-xs;
}

.emptyPageWarning {
  // color: wheat;
  margin-left: 16px;
}

.mainScreenCard {
  height: calc(100vh - 7rem);
}

ul {
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

a {
  text-decoration-line: underline;
  color: #fddb3a;
}
