<app-banner></app-banner>

<app-header></app-header>

<p class="emptyPageWarning">
  This website has no content yet. Please be patient :)
</p>

<!-- <div class="wrapper">
  <app-card title="About Me"
    >I'm {{ age }} years old and started working in software in 2014. Since
    then, I have worked in several roles and positions, constantly learning new
    things. In my free time, I like to play the piano.</app-card
  >

  <app-card title="Work Experience" class="break-after-column">
    <h1>UX Engineer</h1>
    <span>(Nov '21 - Present)</span><br />
    As UX Engineer, I am responsible for creating a new Control Library based on
    Syncfusion, as well as maintaining it afterwards. I work closely with the UX
    Designers of all products as well as the respective frontend web developers.
    This includes taking new designs and implementing them, but also providing
    ways for other developers to contribute to the library, by making it
    "open-source".<br /><br />
    <h1>Frontend Web Developer</h1>
    <span>(Aug '17 - Present)</span><br />
    After I completed my university degree, I immediately started full-time work
    in one of the teams of Serviceware Processes. After a few months of figuring
    out whether I wanted to do frontend or backend development, I realized that
    I really enjoyed frontend web development, so I started focussing in that
    area.<br /><br />
    <h1>Business IT Student</h1>
    <span>(Aug '14 - Aug '17)</span><br />
    xyz
  </app-card>

  <app-card title="Interests">
    <ul>
      <li>Playing the piano</li>
    </ul>
  </app-card>

  <app-card title="topic1"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem natus iure
    molestias exercitationem officiis aperiam obcaecati excepturi, ad, ducimus
    non quis error ab quo assumenda dolores, minima quasi ea dolorum?</app-card
  >
  <app-card title="topic2"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem natus iure
    molestias exercitationem officiis aperiam obcaecati excepturi, ad, ducimus
    non quis error ab quo assumenda dolores, minima quasi ea dolorum?</app-card
  >
  <app-card title="topic3"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem natus iure
    molestias exercitationem officiis aperiam obcaecati excepturi, ad, ducimus
    non quis error ab quo assumenda dolores, minima quasi ea dolorum?</app-card
  >
</div> -->
