<!-- TODO: enable next line for intro banner :) -->
<!-- <app-banner></app-banner> -->

<app-header></app-header>

<!-- <div class="flex justify-center items-center"> -->
<div class="grid grid-cols-12">
  <app-card class="sm:col-span-2 col-span-4">
    <h1>About Me</h1>
  </app-card>
  <app-card class="sm:col-span-10 col-span-8">
    Hi, I'm Colin. <br />
    I'm 25 years old and come from Cologne, Germany. On this website you'll find
    some information on who I am and what I like to do.
  </app-card>
  <app-card class="sm:col-span-2 col-span-4"> <h1>Projects</h1></app-card>
  <app-card class="sm:col-span-10 col-span-8">
    <ul>
      <li>
        Code Blue: A controls library based on Syncfusion that I am creating for
        Serviceware SE. Sorry - private project ;-)
      </li>
      <li>
        <a href="https://github.com/colfin-96/lyricon">Lyricon</a>: A small
        application for storing my favourite hymn songs so that I don't need to
        search for them in various other books.
      </li>
      <li>
        <a href="https://github.com/colfin-96/colinfinger.de">This Website</a>:
        My personal website where I can test my skills ^^
      </li>
      <li>
        <a href="https://github.com/colfin-96/BibleExplorer">Bible Explorer</a>:
        I did NOT get very far with this. The idea is to have an app with which
        you can read the bible but also create notes for verses.
      </li>
      <li>
        <a href="https://github.com/colfin-96/signatureGen"
          >Signature Generator</a
        >: An application for creating a copyable signature for Outlook.
      </li>
    </ul>
  </app-card>
  <app-card class="sm:col-span-2 col-span-4"> <h1>Skills</h1></app-card>
  <app-card class="sm:col-span-10 col-span-8">
    <ul>
      <li>HTML</li>
      <li>CSS (including Frameworks like Bootstrap or Tailwind)</li>
      <li>JavaScript / TypeScript</li>
      <li>Angular</li>
      <li>Storybook</li>
    </ul>
  </app-card>
  <app-card class="sm:col-span-2 col-span-4">
    <h1>Interests / What I'm Learning</h1></app-card
  >
  <app-card class="sm:col-span-10 col-span-8">
    <ul>
      <li>Firebase</li>
    </ul>
  </app-card>
</div>

<!-- <p class="emptyPageWarning">
  This website has no content yet. Please be patient :)
</p> -->

<!-- <div class="wrapper">
  <app-card title="About Me"
    >I'm {{ age }} years old and started working in software in 2014. Since
    then, I have worked in several roles and positions, constantly learning new
    things. In my free time, I like to play the piano.</app-card
  >

  <app-card title="Work Experience" class="break-after-column">
    <h1>UX Engineer</h1>
    <span>(Nov '21 - Present)</span><br />
    As UX Engineer, I am responsible for creating a new Control Library based on
    Syncfusion, as well as maintaining it afterwards. I work closely with the UX
    Designers of all products as well as the respective frontend web developers.
    This includes taking new designs and implementing them, but also providing
    ways for other developers to contribute to the library, by making it
    "open-source".<br /><br />
    <h1>Frontend Web Developer</h1>
    <span>(Aug '17 - Present)</span><br />
    After I completed my university degree, I immediately started full-time work
    in one of the teams of Serviceware Processes. After a few months of figuring
    out whether I wanted to do frontend or backend development, I realized that
    I really enjoyed frontend web development, so I started focussing in that
    area.<br /><br />
    <h1>Business IT Student</h1>
    <span>(Aug '14 - Aug '17)</span><br />
    xyz
  </app-card>

  <app-card title="Interests">
    <ul>
      <li>Playing the piano</li>
    </ul>
  </app-card>

  <app-card title="topic1"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem natus iure
    molestias exercitationem officiis aperiam obcaecati excepturi, ad, ducimus
    non quis error ab quo assumenda dolores, minima quasi ea dolorum?</app-card
  >
  <app-card title="topic2"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem natus iure
    molestias exercitationem officiis aperiam obcaecati excepturi, ad, ducimus
    non quis error ab quo assumenda dolores, minima quasi ea dolorum?</app-card
  >
  <app-card title="topic3"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem natus iure
    molestias exercitationem officiis aperiam obcaecati excepturi, ad, ducimus
    non quis error ab quo assumenda dolores, minima quasi ea dolorum?</app-card
  >
</div> -->
